<h1 class="text-center">Seattle, WA</h1>
<div style="width: 700px">
<div style="width: 300px; display: inline-block; margin-top: 50px;">
  <p>Humidity: {{humidity}}</p>
  <p>Current Temperature: {{currentTemp}}</p>
  <p>High: {{tempHi}}</p> 
  <p>Low: {{tempLow}}</p>
  <p>Weather status: {{status}}</p>
</div>
<div style="width: 400px; display: inline-block; vertical-align: top;">
  <img style="width: 400px;" src="https://images.pexels.com/photos/656195/pexels-photo-656195.jpeg?cs=srgb&dl=architecture-buildings-city-656195.jpg&fm=jpg" alt="">
</div>
</div>