<div class = "container">
  <h1 class="text-center">Dojo Weather Forecast</h1>
  <p class="text-center">
    <a [routerLink]="['seattle']">Seattle </a>|
    <a [routerLink]="['kihei']">Kihei </a>|
    <a [routerLink]="['lasvegas']">Las Vegas </a>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="border: solid 3px gray; padding: 20px; height: 375px;">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>